### __Natural Language Processing: BERT Model__
> - https://www.kaggle.com/code/sanketsonu/bert-model-nlp-with-disaster-tweets

In [1]:
!pip install -q -U tensorflow-text
!pip install -q tf-models-official
!pip install tensorflow_hub

Requirement already satisfied: tensorflow_hub in c:\users\user\anaconda3\envs\jupyterlab-3.2.1\lib\site-packages (0.12.0)
Requirement already satisfied: numpy>=1.12.0 in c:\users\user\anaconda3\envs\jupyterlab-3.2.1\lib\site-packages (from tensorflow_hub) (1.22.1)
Requirement already satisfied: protobuf>=3.8.0 in c:\users\user\appdata\roaming\python\python39\site-packages (from tensorflow_hub) (3.19.4)

In [3]:
!pip install transformers

Collecting transformers
  Downloading transformers-4.18.0-py3-none-any.whl (4.0 MB)
Requirement already satisfied: regex!=2019.12.17 in c:\users\user\anaconda3\envs\jupyterlab-3.2.1\lib\site-packages (from transformers) (2022.1.18)
Requirement already satisfied: numpy>=1.17 in c:\users\user\anaconda3\envs\jupyterlab-3.2.1\lib\site-packages (from transformers) (1.22.1)
Requirement already satisfied: packaging>=20.0 in c:\users\user\anaconda3\envs\jupyterlab-3.2.1\lib\site-packages (from transformers) (21.3)
Collecting sacremoses
  Downloading sacremoses-0.0.49-py3-none-any.whl (895 kB)
Requirement already satisfied: filelock in c:\users\user\appdata\roaming\python\python39\site-packages (from transformers) (3.4.2)
Requirement already satisfied: tqdm>=4.27 in c:\users\user\anaconda3\envs\jupyterlab-3.2.1\lib\site-packages (from transformers) (4.63.0)
Collecting huggingface-hub<1.0,>=0.1.0
  Downloading huggingface_hub-0.5.1-py3-none-any.whl (77 kB)
Collecting tokenizers!=0.11.3,<0.13,>=0.11.1
  Downloading tokenizers-0.12.1-cp39-cp39-win_amd64.whl (3.3 MB)
Requirement already satisfied: requests in c:\users\user\anaconda3\envs\jupyterlab-3.2.1\lib\site-packages (from transformers) (2.22.0)
Requirement already satisfied: pyyaml>=5.1 in c:\users\user\anaconda3\envs\jupyterlab-3.2.1\lib\site-packages (from transformers) (5.4.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\user\anaconda3\envs\jupyterlab-3.2.1\lib\site-packages (from huggingface-hub<1.0,>=0.1.0->transformers) (4.1.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\user\anaconda3\envs\jupyterlab-3.2.1\lib\site-packages (from packaging>=20.0->transformers) (3.0.4)
Requirement already satisfied: colorama in c:\users\user\anaconda3\envs\jupyterlab-3.2.1\lib\site-packages (from tqdm>=4.27->transformers) (0.4.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\envs\jupyterlab-3.2.1\lib\site-packages (from requests->transformers) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\user\anaconda3\envs\jupyterlab-3.2.1\lib\site-packages (from requests->transformers) (1.25.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\user\anaconda3\envs\jupyterlab-3.2.1\lib\site-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\user\anaconda3\envs\jupyterlab-3.2.1\lib\site-packages (from requests->transformers) (2.8)
Requirement already satisfied: click in c:\users\user\appdata\roaming\python\python39\site-packages (from sacremoses->transformers) (8.0.3)
Requirement already satisfied: joblib in c:\users\user\anaconda3\envs\jupyterlab-3.2.1\lib\site-packages (from sacremoses->transformers) (1.1.0)
Requirement already satisfied: six in c:\users\user\anaconda3\envs\jupyterlab-3.2.1\lib\site-packages (from sacremoses->transformers) (1.16.0)
Installing collected packages: tokenizers, sacremoses, huggingface-hub, transformers
Successfully installed huggingface-hub-0.5.1 sacremoses-0.0.49 tokenizers-0.12.1 transformers-4.18.0

In [21]:
import re
import numpy as np
import pandas as pd
import time

import seaborn as sns
import matplotlib.pyplot as plt
import itertools
import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_text as text
from tensorflow.keras.layers import Input, Dense
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
import wordcloud
import nltk
nltk.download('stopwords')
nltk.download('punkt')
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem.snowball import SnowballStemmer
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from keras import backend as K
from transformers import AutoTokenizer,TFBertModel
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.metrics import CategoricalAccuracy, BinaryAccuracy
from tensorflow.keras.losses import CategoricalCrossentropy,BinaryCrossentropy

sns.set_style("whitegrid")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [6]:
#for showing 2D plot
%matplotlib inline    

# to be able to see multiple ouputs from sungle cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [7]:
# import data
train_df = pd.read_csv('../data/train.csv')
test_df = pd.read_csv('../data/test.csv')

train_df.info()
train_df

test_df.info()
test_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3263 non-null   int64
 1   keyword   3237 non-null   object
 2   location  2158 non-null   object
 3   text      3263 non-null   object
dtypes: int64(1), object(3)
memory usage: 102.1+ KB

,id,keyword,location,text
0,0,NaN,NaN,Just happened a terrible car crash
1,2,NaN,NaN,"Heard about #earthquake is different cities, s..."
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are..."
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan
...,...,...,...,...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
3259,10865,NaN,NaN,Storm in RI worse than last hurricane. My city...
3260,10868,NaN,NaN,Green Line derailment in Chicago http://t.co/U...
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...
3262,10875,NaN,NaN,#CityofCalgary has activated its Municipal Eme...

In [8]:
# drop 'keyword' and 'location' columns
train_df = train_df.drop(['keyword','location'], axis = 1)
test_df = test_df.drop(['keyword','location'], axis = 1)
train_df.head(3)
test_df.head(3)

   id                                               text  target
0   1  Our Deeds are the Reason of this #earthquake M...       1
1   4             Forest fire near La Ronge Sask. Canada       1
2   5  All residents asked to 'shelter in place' are ...       1

   id                                               text
0   0                 Just happened a terrible car crash
1   2  Heard about #earthquake is different cities, s...
2   3  there is a forest fire at spot pond, geese are...

In [9]:
# Checking Shape of Train and Test sets
print("Shape of Train set:", train_df.shape)
print("Shape of Test set:", test_df.shape)

Shape of Train set: (7613, 3)
Shape of Test set: (3263, 2)

In [12]:
# check target labels
df = train_df.copy()
df['target'].value_counts()
df['target'].value_counts()/len(df)

0    4342
1    3271
Name: target, dtype: int64

0    0.57034
1    0.42966
Name: target, dtype: float64

#### __Splitting data into Train and Test sets__

In [13]:
y = tf.keras.utils.to_categorical(df['target'], num_classes=2)
X_train, X_test, y_train, y_test = train_test_split(df['text'], y, test_size=0.2, random_state=3)

### __BERT Mocel__
#### _Base Model with Neural Networks:_

In [14]:
bert_preprocess = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_cased_preprocess/3")
bert_encoder = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_cased_L-24_H-1024_A-16/4")

In [15]:
# Checking array created using BERT:
def get_sentence_embedding(sentences):
    preprocessed_text = bert_preprocess(sentences)
    return bert_encoder(preprocessed_text)['pooled_output']

# quick test
get_sentence_embedding(["You are noob.","What are you looking at?"])

<tf.Tensor: shape=(2, 1024), dtype=float32, numpy=
array([[ 0.9903546 ,  0.98156804,  0.99754566, ..., -0.9994887 ,
        -0.5053126 ,  0.9433913 ],
       [ 0.9989153 ,  0.11918673,  0.89904493, ..., -0.63001186,
        -0.9233926 ,  0.93441415]], dtype=float32)>

In [16]:
# Bert layers:
num_classes = 2
text_input = tf.keras.layers.Input(shape=(), dtype=tf.string, name='text')
preprocessed_text = bert_preprocess(text_input)
outputs = bert_encoder(preprocessed_text)

# Neural network layers:
l = tf.keras.layers.Dropout(0.2, name='dropout')(outputs['pooled_output'])
l = tf.keras.layers.Dense(num_classes, activation='sigmoid', name='output')(l)

# Construct final model:
model = tf.keras.Model(inputs=[text_input], outputs=[l])

model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 text (InputLayer)              [(None,)]            0           []

 keras_layer (KerasLayer)       {'input_word_ids':   0           ['text[0][0]']
                                (None, 128),
                                 'input_mask': (Non
                                e, 128),
                                 'input_type_ids':
                                (None, 128)}

 keras_layer_1 (KerasLayer)     {'default': (None,   333579265   ['keras_layer[0][0]',
                                1024),                            'keras_layer[0][1]',
                                 'sequence_output':               'keras_layer[0][2]']
                                 (None, 128, 1024),
                                 'pooled_output': (
                                None, 1024),
                                 'encoder_outputs':
                                 [(None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                ]}

 dropout (Dropout)              (None, 1024)         0           ['keras_layer_1[0][25]']

 output (Dense)                 (None, 2)            2050        ['dropout[0][0]']

==================================================================================================
Total params: 333,581,315
Trainable params: 2,050
Non-trainable params: 333,579,265
__________________________________________________________________________________________________

In [17]:
# You can use these METRICS as well. 
# If you are using this then change 'metrics=METRICS' in 'model.compile' section.
# METRICS = [
#            tf.keras.metrics.BinaryCrossentropy(name='accuracy'),
#            tf.keras.metrics.Precision(name='precision'),
#            tf.keras.metrics.Recall(name='recall')
# ]

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [18]:
#Ploting Model Architecture:
tf.keras.utils.plot_model(model)

You must install pydot (`pip install pydot`) and install graphviz (see instructions at https://graphviz.gitlab.io/download/) for plot_model/model_to_dot to work.

#### _Training model_

In [ ]:
# start time to measure the time of the program execution
start_time = time.time()

history = model.fit(X_train, y_train, epochs=3, validation_split=0.1)

# Evaluating results with test set:
model.evaluate(X_test, y_test, verbose=1)

# print the overall program runtime.
print(f"\n\n--- {(time.time() - start_time)} seconds ---")

Epoch 1/3
172/172 [==============================] - ETA: 0s - loss: 0.7191 - accuracy: 0.5674

In [ ]:
y_test_arg = np.argmax(y_test, axis=1)
y_test_arg[1]
y_pred = np.argmax(model.predict(X_test),axis=1)
print('Confusion Matrix')
print(confusion_matrix(y_test_arg, y_pred))
print(metrics.classification_report(y_test_arg, y_pred))

In [ ]:
# This builds a graph with all the available metrics of the history.

pd.DataFrame(history.history).plot(figsize=(10,6))
plt.show()

#### __Submission__

In [ ]:
submission = pd.read_csv('../data/sample_submission.csv')
submission.info()
submission

In [ ]:
submission['target'] = np.argmax(model.predict(test_df['text'], axis=1))
submission

In [ ]:
submission.to_csv('../kaggle_ubmission_files/trial7_submission_bert.csv', index=False)